*{
  margin:0 ;
  padding: 0;
}

body{
  background-color: rgb(240, 226, 240);
  text-align:center;
  align-items: center;
  justify-content: center;
  display: flex;
}

header{
  display: flex;
  justify-content: space-between;
}

header a{
  color:red;
  text-decoration: none;
  font-weight: 600;
  font-size: 50px;

}

.content{
  background-color: yellow;
  height: 500px;
  width:500px;
  position: relative;
}

.Create form{
  margin: 10px 20px 10px ;
  display: flex;
  height: 45px;
  justify-content: space-between;
 
}
.Create form input{
  width: 90%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.Create form button {
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8E49E8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.Create form button:hover{
  background: #721ce3;
}